.add-portfolio-add-title {
  font-size: var(--big-font);
  font-family: my-font-bold, serif;
}

.add-portfolio-add-desc {
  font-size: var(--large-font);
  margin: 16px 0 32px 0;
}

.add-portfolio-add-input {
  margin-bottom: 48px;
}

.add-portfolio-add-submit {
  margin-bottom: 32px;
}

.add-portfolio-add-btn {
  margin-bottom: 32px;
}